<div class="header">
    <a href="home" class="logo">Learning Managment App</a>
    <div class="header-right">
        <div class="button-wrapper">
                <button mat-raised-button color="primary" class="login-button" (click)="login()" *ngIf="!loggedIn">Login</button>
            <button mat-raised-button color="primary" (click)="register()" *ngIf="!loggedIn">Register</button>
            <button mat-raised-button color="primary" (click)="uredi()" *ngIf="loggedIn">Uredi Profil</button>
            <button mat-raised-button color="primary" (click)="odjava()" *ngIf="loggedIn">Odjavi se</button>
            <button mat-raised-button color="primary" (click)="studentManager()" *ngIf="roleStudent">Student Manager </button>
            <button mat-raised-button color="primary" (click)="nastavnikManager()" *ngIf="roleNastavnik">Nastavnik Manager </button>
            <button mat-raised-button color="primary" (click)="adminManager()" *ngIf="roleAdmin">Admin Manager </button>
        </div>
        
    </div>
</div>

<app-univerziteti></app-univerziteti>



