<div class="wrapper">
  <form [formGroup]="forma" (ngSubmit)="submit()" class="wrapper-class">
  
      <div class="password-input">
          <mat-form-field appearance="outline">
              <mat-label>Ime</mat-label>
              <input formControlName="naziv" matInput placeholder="Ime" type="text">
              <mat-icon matSuffix></mat-icon>
            </mat-form-field>
      </div>
      <div>
        <p *ngIf="postojiDrzava">Izabrana drzava vec postoji</p>
      </div>
      <div class="button-wrapper">
          <div class="edit-button">
              <button type="submit" mat-raised-button color="primary">Dodaj</button>
          </div>
      </div>
  </form>
  
  <div class="filter">
    <mat-form-field appearance="standard">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Klijentske Veb Aplikacije" #input>
  </mat-form-field>
  </div>
  
</div>

<p *ngIf="neMoguceObrisati">Ne moguce je obrisati ovu drzavu jer se negde vec koristi</p>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="ime">
      <th mat-header-cell *matHeaderCellDef> Ime </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
  
  
    <!-- Weight Column -->
    <ng-container matColumnDef="akcije">
      <th mat-header-cell *matHeaderCellDef> Akcije </th>
      <td mat-cell *matCellDef="let element"><button mat-flat-button (click)="detaljnije(element.id)">Detaljnije</button>
        <button mat-flat-button (click)="izmeni(element.id)">Izmeni</button>
        <button (click)="delete(element.id)" mat-raised-button color="primary">Delete</button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <div>
    <mat-paginator #paginator [length]="100"
              [pageSize]="3"
              [pageSizeOptions]="[1,5, 10, 25, 100]"
              aria-label="Select page">
    </mat-paginator>
  </div>