<header><button mat-raised-button (click)="back()">Back</button></header>
<mat-tab-group mat-align-tabs="center" >
    <mat-tab label="O Studijskom Programu">
      <div>
        <div class="example-card">
          <h1>O Studijskom Programu</h1>
          
        </div>
        <div class="example-card">
          <p>{{opis}}</p>
        </div>
      </div>
      
      
      
    </mat-tab>
    <mat-tab label="Predmeti">
      <div class="filter">
        <mat-form-field appearance="standard">
          <mat-label>Filter</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Klijentske Veb Aplikacije" #input>
      </mat-form-field>
      </div>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <ng-container matColumnDef="ime">
              <th mat-header-cell *matHeaderCellDef> Naziv </th>
              <td mat-cell *matCellDef="let element"> {{element.naziv}} </td>
            </ng-container>
          
            <!-- Name Column -->
            <ng-container matColumnDef="espb">
              <th mat-header-cell *matHeaderCellDef> Espb </th>
              <td mat-cell *matCellDef="let element"> {{element.espb}} </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <div>
            <mat-paginator #paginator [length]="100"
                      [pageSize]="3"
                      [pageSizeOptions]="[1,5, 10, 25, 100]"
                      aria-label="Select page">
            </mat-paginator>
          </div>
    </mat-tab>
</mat-tab-group>
