<header ><button mat-raised-button color="primary" (click)="back()">Home</button></header>
<div class="filter">
  <mat-form-field appearance="standard">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Klijentske Veb Aplikacije" #input>
</mat-form-field>
</div>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  
  <ng-container matColumnDef="ime">
    <th mat-header-cell *matHeaderCellDef> Ime </th>
    <td mat-cell *matCellDef="let element"> {{element.ime}} </td>
  </ng-container>

  <ng-container matColumnDef="username">
    <th mat-header-cell *matHeaderCellDef> Username </th>
    <td mat-cell *matCellDef="let element"> {{element.username}} </td>
  </ng-container>

  <ng-container matColumnDef="jmbg">
    <th mat-header-cell *matHeaderCellDef> JMBG </th>
    <td mat-cell *matCellDef="let element"> {{element.jmbg}} </td>
  </ng-container>

  <ng-container matColumnDef="brojIndeksa">
    <th mat-header-cell *matHeaderCellDef> Akcije </th>
    <td mat-cell *matCellDef="let element"><button mat-raised-button (click)="detaljnije(element.id)">Detaljnije</button>
      <button mat-raised-button (click)="upisiOcenu(element.id)">Upisi Ocenu</button><mat-form-field appearance="fill">
        <mat-label>Ocena</mat-label>
        <mat-select [formControl]="ocena">
          <mat-option *ngFor="let ocena of ocene" [value]="ocena">
            {{ocena}}
          </mat-option>
        </mat-select>
      </mat-form-field></td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<div>
  <mat-paginator #paginator [length]="100"
            [pageSize]="3"
            [pageSizeOptions]="[1,5, 10, 25, 100]"
            aria-label="Select page">
  </mat-paginator>
</div>