<header ><button mat-raised-button color="primary" (click)="home()">Home</button></header>


<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Administracija Korisnika">
    <form [formGroup]="formaPretraga" (ngSubmit)="submitPretrage()" class="wrapper-class">
      <div class="username-input">
          <mat-form-field appearance="outline">
              <mat-label>Ime</mat-label>
              <input formControlName="ime" matInput placeholder="Ime">
              <mat-icon matSuffix></mat-icon>
            </mat-form-field>
      </div>
      <div>
        <button mat-flat-button type="submit" color="primary">Pretrazi</button>
      </div>
    </form>
  
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
    <!-- Position Column -->
    <ng-container matColumnDef="ime">
      <th mat-header-cell *matHeaderCellDef> Ime </th>
      <td mat-cell *matCellDef="let element"> {{element.ime}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef> Username </th>
      <td mat-cell *matCellDef="let element"> {{element.username}} </td>
    </ng-container>

    <ng-container matColumnDef="jmbg">
      <th mat-header-cell *matHeaderCellDef> JMBG </th>
      <td mat-cell *matCellDef="let element"> {{element.jmbg}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="roles">
      <th mat-header-cell *matHeaderCellDef> Roles </th>
      <td mat-cell *matCellDef="let element"> {{element.roles}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
        
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let element"><mat-label>Roles</mat-label>
            <form [formGroup]="forma" (ngSubmit)="submit(element)">
                <mat-select matInput formControlName="naziv">
                  <mat-option *ngFor="let role of roles" [value]="role">{{role}}</mat-option>
                </mat-select>
                <div>
                  <button mat-raised-button color="primary" type="submit">Dodaj Role</button>
                </div>
            
            </form>
        </td>
        
        
    </ng-container>
    <ng-container matColumnDef="actions2">
        
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let element"><mat-label>Roles</mat-label>
      <form [formGroup]="forma2" (ngSubmit)="deleteRole(element)">
          <mat-select matInput formControlName="naziv">
            <mat-option *ngFor="let role of roles" [value]="role">{{role}}</mat-option>
          </mat-select>
          <div>
            <button mat-raised-button color="primary" type="submit">Delete Role</button>
          </div>
      
      </form>
  </td>
  
  
</ng-container>

    <!-- <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let element"><button mat-raised-button color="warn" (click)="delete(element.id)">Delete</button></td>
    </ng-container> -->
    
  
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
    <!-- Row shown when there is no matching data. -->
  </table>
  <div>
    <mat-paginator #paginator [length]="100"
              [pageSize]="3"
              [pageSizeOptions]="[1,5, 10, 25, 100]"
              aria-label="Select page">
    </mat-paginator>
  </div>
</mat-tab>
  <mat-tab label="Administracija Organizacije">
    <app-administracija-organizacije></app-administracija-organizacije>
  </mat-tab>
  <mat-tab label="Administracija Sifarnika">
    <app-administracija-drzave></app-administracija-drzave>
  </mat-tab>
</mat-tab-group>






