.mat-tab-group{
    padding-top: 30px;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    margin-left: auto;
  }
  
  .wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
  }
  
  .card-wrapper{
    display: flex;
  }
  
  .example-card {
    max-width: 800px;
  }
  
  table {
      width: 80%;
    }

    th.mat-header-cell{
      font-size: 20px;
      font-weight: bold;
    }
  
    td.mat-cell-{
      font-size: 15px;
      /* font-weight: bold; */
      font-weight: 600;
    }
    
    tr.example-detail-row {
      height: 0;
    }
    
    tr.example-element-row:not(.example-expanded-row):hover {
      background: rgba(217, 195, 240, 0.574);
    }
    
    tr.example-element-row:not(.example-expanded-row):active {
      background: #efefef;
    }
    
    .example-element-row td {
      border-bottom-width: 0;
    }
    
    .example-element-detail {
       overflow: hidden;
       /* display: flex; */
      /* display: inline-block;   */
      height: 100px;
    }
    
    /* .example-element-diagram {
      min-width: 80px;
      border: 2px solid black;
      padding: 8px;
      font-weight: lighter;
      margin: 8px 0;
      height: 104px;
    } */
    
    /* .example-element-symbol {
      
      font-size: 25px;
      line-height: normal;
    } */
    
    .example-element-description {
      padding: 16px;
    }
    
    .example-element-description-attribution {
      opacity: 0.5;
    }

    td.exp{
      /* height: 0px; */
    }

    /* .example-element-position{
      display: flex;
    }

    .dugmad{
      display: inline;
      float:left
    } */

    .text{
    }

    .wrapper-class{
      display:flex;
      align-items: center;
      justify-content: center;
      size: 50%;
    }
    .button-wrapper{
      display:flex;
      align-items: center;
      justify-content: center;
    }