<header ><button mat-raised-button color="primary" (click)="home()">Home</button></header>

<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Predmeti">
    <div class="filter">
      <mat-form-field appearance="standard">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Klijentske Veb Aplikacije" #input>
    </mat-form-field>
    </div>
  <div class="wrapper">
    <table mat-table
         [dataSource]="dataSource" multiTemplateDataRows
         class="mat-elevation-z8">
    <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
      <th mat-header-cell *matHeaderCellDef>{{column}}</th>
      <td mat-cell *matCellDef="let element">{{element.naziv}}</td>
    </ng-container>
    <ng-container matColumnDef="expand">
      <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button aria-label="expand row" (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()">
          <mat-icon *ngIf="expandedElement !== element">keyboard_arrow_down</mat-icon>
          <mat-icon *ngIf="expandedElement === element">keyboard_arrow_up</mat-icon>
        </button>
      </td>
    </ng-container>
  
    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container  matColumnDef="expandedDetail">
      <td class="exp" mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand.length">
        <div class="example-element-detail"
             [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
          <!-- <div class="example-element-diagram"> -->
            <div class="example-element-position">
              <p>
                <br>
            <!-- <p class="example-element-symbol"> -->
                Espb :{{element.espb}} 
            <!-- <p class="example-element-symbol"> -->
                Broj Vezbi: {{element.brojVezbi}} 
            <!-- <p class="example-element-symbol"> -->
                Broj Predavanja: {{element.brojPredavanja}} 
          <!-- </div> -->
          <!-- <p class="example-element-description">
            {{element.opis}} -->
            </p>
          </div>

          <!-- <mat-divider inset></mat-divider> -->

        <div class="dugmad">
         
            <button mat-stroked-button  color="primary" (click)="urediSilabusPredavanja(element.id,element)">Uredi Silabus Predavanja</button>
          
          
            <button mat-stroked-button  color="primary" (click)="urediSilabusVezbi(element.id,element)">Uredi Silabus Vezbi</button>
          
          
            <button mat-stroked-button  color="primary" (click)="pregledajStudente(element.id)">Pregledaj Studente</button>
          
          
            <button mat-stroked-button  color="primary" (click)="instrumentEvaluacije(element.id)">Odredi Instrument Evaluacije</button>
          
          
            <button mat-stroked-button  color="primary" (click)="urediObavestenja(element.id)">Uredi Obavestenja</button>
          
        </div>
        <div></div>
      </div>
      </td>
      
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
    <tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpand;"
        class="example-element-row"
        [class.example-expanded-row]="expandedElement === element"
        (click)="expandedElement = expandedElement === element ? null : element">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
  </table>
  </div>
  <div>
    <mat-paginator #paginator [length]="100"
              [pageSize]="3"
              [pageSizeOptions]="[1,5, 10, 25, 100]"
              aria-label="Select page">
    </mat-paginator>
  </div>
</mat-tab>
<mat-tab label="Pretrazi Studente">
  <app-pretrazi-studente></app-pretrazi-studente>
</mat-tab>
</mat-tab-group>