
<mat-card class="example-card" *ngFor="let element of elementi">
<mat-card-title>{{element.nazivPredmeta}}</mat-card-title>
<mat-card-subtitle>{{element.title}}</mat-card-subtitle>
<mat-card-content>
<p>{{element.opis}}</p>
</mat-card-content>
<hr>
