<div class="wrapper">
    <form [formGroup]="forma" (ngSubmit)="submit()" class="wrapper-class">
    
        <div class="password-input">
            <mat-form-field appearance="outline">
                <mat-label>Ulica</mat-label>
                <input formControlName="ulica" matInput placeholder="Ulica" type="text">
                <mat-icon matSuffix></mat-icon>
              </mat-form-field>
        </div>
        <div class="password-input">
            <mat-form-field appearance="outline">
                <mat-label>Broj</mat-label>
                <input formControlName="broj" matInput placeholder="Broj Ulice" type="number">
                <mat-icon matSuffix></mat-icon>
              </mat-form-field>
        </div>
        <div>
            <p *ngIf="postojiAdresa">Izabrana adresa vec postoji</p>
          </div>
        <div class="button-wrapper">
            <div class="edit-button">
                <button type="submit" mat-raised-button color="primary">Izmeni</button>
                <button type="button" (click)="cancel()" mat-raised-button color="primary">Cancel</button>
            </div>
        </div>
    </form>
    
</div>