<form [formGroup]="forma" (ngSubmit)="submit()" class="wrapper-class">
    <div class="username-input">
        <mat-form-field appearance="outline">
            <mat-label>Ime</mat-label>
            <input formControlName="ime" matInput placeholder="Ime">
            <mat-icon matSuffix></mat-icon>
          </mat-form-field>
    </div>
    <div class="password-input">
        <mat-form-field appearance="outline">
            <mat-label>Broj Indeksa</mat-label>
            <input formControlName="brojIndeksa" matInput placeholder="Broj Indeksa" >
            <mat-icon matSuffix></mat-icon>
          </mat-form-field>
    </div>
    <div class="password-input">
      <mat-form-field appearance="outline">
          <mat-label>Godina Upisa</mat-label>
          <input formControlName="godinaUpisa" matInput placeholder="GGGG-MM-DD">
          <mat-icon matSuffix></mat-icon>
        </mat-form-field>
  </div>
  <div class="password-input">
    <mat-form-field appearance="outline">
        <mat-label>Prosecna Ocena</mat-label>
        <input formControlName="prosecnaOcena" matInput placeholder="Prosecna Ocena">
        <mat-icon matSuffix></mat-icon>
      </mat-form-field>
  </div>
  <div class="button-wrapper">
    <div>
        <button type="submit" mat-raised-button color="primary">Pretrazi</button>
    </div>
  </div>
  </form>
  <div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="ime">
        <th mat-header-cell *matHeaderCellDef> Ime </th>
        <td mat-cell *matCellDef="let element"> {{element.ime}} </td>
      </ng-container>
    
      <!-- Name Column -->
      <ng-container matColumnDef="brojIndeksa">
        <th mat-header-cell *matHeaderCellDef> Broj Indeksa </th>
        <td mat-cell *matCellDef="let element"> {{element.brojIndeksa}} </td>
      </ng-container>
    
      <!-- Weight Column -->
      <ng-container matColumnDef="godinaUpisa">
        <th mat-header-cell *matHeaderCellDef> Godina Upisa </th>
        <td mat-cell *matCellDef="let element"> {{element.godinaUpisa}} </td>
      </ng-container>
    
      <!-- Symbol Column -->
      <ng-container matColumnDef="prosecnaOcena">
        <th mat-header-cell *matHeaderCellDef> Prosecna Ocena </th>
        <td mat-cell *matCellDef="let element"> {{element.prosecnaOcena}} </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <div>
    <mat-paginator #paginator [length]="100"
              [pageSize]="3"
              [pageSizeOptions]="[1,5, 10, 25, 100]"
              aria-label="Select page">
    </mat-paginator>
  </div>
