<h1 mat-dialog-title>Izmena</h1>
<div mat-dialog-content>
  Uspesno ste izmenili svoje podatke
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close cdkFocusInitial>Ok</button>
</div>
