<header><button mat-raised-button (click)="back()">Back</button></header>

<div class="wrapper">
  <form [formGroup]="forma" (ngSubmit)="submit()" class="wrapper-class">
  
      <div class="password-input">
          <mat-form-field appearance="outline">
              <mat-label>Ime</mat-label>
              <input formControlName="naziv" matInput placeholder="Ime" type="text">
              <mat-icon matSuffix></mat-icon>
            </mat-form-field>
      </div>
      <div>
        <mat-label>Drzave</mat-label>
      </div>
      
      <mat-form-field appearance="fill">
        <mat-label>Drzave</mat-label>
        <mat-select [disabled]="potvrdjenaDrzava" [formControl]="drzava">
          <mat-option *ngFor="let drzava of drzave" [value]="drzava.name">
            {{drzava.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div class="edit-button">
        <button type="button" (click)="potvrdiDrzavu()" mat-raised-button color="primary">Potvrdi Drzavu</button>
        <button type="button" (click)="otkaziDrzavu()" mat-raised-button color="primary">Otkazi Drzavu</button>
    </div>

      <mat-form-field appearance="fill" *ngIf="potvrdjenaDrzava">
        <mat-label>Mesta</mat-label>
        <mat-select [disabled]="potvrdjenoMesto" [formControl]="mesto">
          <mat-option *ngFor="let mesto of mesta" [value]="mesto.naziv">
            {{mesto.naziv}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div class="edit-button">
        <button type="button" *ngIf="potvrdjenaDrzava" (click)="potvrdiMesto()" mat-raised-button color="primary">Potvrdi Mesto</button>
        <button type="button" *ngIf="potvrdjenaDrzava" (click)="otkaziMesto()" mat-raised-button color="primary">Otkazi Mesto</button>
      </div>

      <mat-form-field appearance="fill" *ngIf="potvrdjenoMesto">
        <mat-label>Adrese</mat-label>
        <mat-select [formControl]="adresa">
          <mat-option *ngFor="let adresa of adrese" [value]="adresa.ulicaIBroj">
            {{adresa.ulicaIBroj}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div class="edit-button">
        <button type="button" *ngIf="potvrdjenoMesto" (click)="potvrdiAdresu()" mat-raised-button color="primary">Potvrdi Adresu</button>
        <button type="button" *ngIf="potvrdjenoMesto" (click)="otkaziAdresu()" mat-raised-button color="primary">Otkazi Adresu</button>
    </div>
      <div class="button-wrapper">
          <div class="edit-button">
              <button type="submit" mat-raised-button color="primary" *ngIf="potvrdjenaAdresa">Dodaj</button>
          </div>
      </div>
  </form>
  <div class="filter">
    <mat-form-field appearance="standard">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Klijentske Veb Aplikacije" #input>
  </mat-form-field>
  </div>
</div>

<mat-tab-group mat-align-tabs="center">
    <mat-tab label="Fakulteti">
      <p *ngIf="neMoguceObrisati">Ne moguce je obrisati ovu drzavu jer se negde vec koristi</p>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <ng-container matColumnDef="ime">
              <th mat-header-cell *matHeaderCellDef> Ime </th>
              <td mat-cell *matCellDef="let element"> {{element.naziv}} </td>
            </ng-container>
          
            <ng-container matColumnDef="akcije">
              <th mat-header-cell *matHeaderCellDef> Akcije </th>
              <td mat-cell *matCellDef="let element">
                <button mat-flat-button (click)="detaljnije(element.id)">Detaljnije</button>
                <button mat-flat-button (click)="izmeni(element.id)">Izmeni</button>
                
                <button (click)="delete(element.id)" mat-raised-button color="primary">Delete</button>
              </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <div>
            <mat-paginator #paginator [length]="100"
                      [pageSize]="3"
                      [pageSizeOptions]="[1,5, 10, 25, 100]"
                      aria-label="Select page">
            </mat-paginator>
          </div>
    </mat-tab>
</mat-tab-group>