<div class="wrapper">
    <form [formGroup]="forma" (ngSubmit)="submitForme()" class="wrapper-class">
    
        <div class="password-input">
            <mat-form-field appearance="outline">
                <mat-label>Ime</mat-label>
                <input formControlName="naziv" matInput placeholder="Ime" type="text">
                <mat-icon matSuffix></mat-icon>
              </mat-form-field>
        </div>
        <div class="password-input">
            <mat-form-field appearance="outline">
                <mat-label>Opis</mat-label>
                <input formControlName="opis" matInput placeholder="Opis" type="text">
                <mat-icon matSuffix></mat-icon>
              </mat-form-field>
        </div>
        <div>
            <button type="submit" mat-raised-button color="primary">Dodaj</button>
        </div>
    </form>
<div class="filter">
    <mat-form-field appearance="standard">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Klijentske Veb Aplikacije" #input>
    </mat-form-field>
  </div>
      <p *ngIf="neMoguceObrisati">Ne moguce je obrisati ovaj Studijski Program jer se negde vec koristi</p>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <ng-container matColumnDef="ime">
              <th mat-header-cell *matHeaderCellDef> Ime </th>
              <td mat-cell *matCellDef="let element"> {{element.naziv}} </td>
            </ng-container>

            <ng-container matColumnDef="opis">
                <th mat-header-cell *matHeaderCellDef> Opis </th>
                <td mat-cell *matCellDef="let element"> {{element.opis}} </td>
              </ng-container>
          
            <ng-container matColumnDef="akcije">
              <th mat-header-cell *matHeaderCellDef> Akcije </th>
              <td mat-cell *matCellDef="let element">
                <button mat-flat-button (click)="detaljnije(element.id)">Detaljnije</button>
                <button mat-flat-button (click)="izmeni(element.id)" mat-raised-button color="primary">Izmeni</button>
                
                <button mat-flat-button (click)="izbrisi(element.id)" mat-raised-button color="primary">Delete</button>
              </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <div>
            <mat-paginator #paginator [length]="100"
                      [pageSize]="3"
                      [pageSizeOptions]="[1,5, 10, 25, 100]"
                      aria-label="Select page">
            </mat-paginator>
          </div>
