<div class="wrapper">
    <form [formGroup]="forma" (ngSubmit)="submit()" class="wrapper-class">
    
        <div class="password-input">
            <mat-form-field appearance="outline">
                <mat-label>Ime</mat-label>
                <input formControlName="naziv" matInput placeholder="Ime" type="text">
                <mat-icon matSuffix></mat-icon>
              </mat-form-field>
        </div>
        <div>
            <p *ngIf="postojiMesto">Izabrano mesto vec postoji</p>
        </div>
        <div class="button-wrapper">
            <div class="edit-button">
                <button type="submit" mat-raised-button color="primary">Izmeni</button>
                <button type="button" (click)="cancel()" mat-raised-button color="primary">Cancel</button>
            </div>
        </div>
    </form>
</div>
