<header><button mat-raised-button color="primary" (click)="back()">Back</button></header>
<mat-card class="example-card" *ngFor="let element of elementi">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Naziv: {{element.naziv}}</mat-card-title>
      <mat-card-subtitle>ESPB:{{element.espb}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>Konacana Ocena: {{element.konacnaOcena}}</p>
      <p>Broj Pokusaja: {{element.brojPokusaja}}</p>
    </mat-card-content>
  </mat-card>
