<form [formGroup]="forma" (ngSubmit)="submit()" class="wrapper-class">
    
    <div class="password-input">
        <mat-form-field appearance="outline">
            <mat-label>Ime</mat-label>
            <input formControlName="naziv" matInput placeholder="Ime" type="text">
            <mat-icon matSuffix></mat-icon>
          </mat-form-field>
    </div>
    <div class="password-input">
        <mat-form-field appearance="outline">
            <mat-label>Espb</mat-label>
            <input formControlName="espb" matInput placeholder="espb" type="number">
            <mat-icon matSuffix></mat-icon>
          </mat-form-field>
    </div>
    <div class="password-input">
      <mat-form-field appearance="outline">
          <mat-label>Broj Predavanja</mat-label>
          <input formControlName="brojPredavanja" matInput placeholder="brojPredavanja" type="number">
          <mat-icon matSuffix></mat-icon>
        </mat-form-field>
  </div>
  <div class="password-input">
    <mat-form-field appearance="outline">
        <mat-label>Broj Vezbi</mat-label>
        <input formControlName="brojVezbi" matInput placeholder="brojVezbi" type="number">
        <mat-icon matSuffix></mat-icon>
      </mat-form-field>
</div>
<div class="password-input">
  <mat-form-field appearance="fill">
    <mat-label>Godina</mat-label>
    <mat-select formControlName="godina">
      <mat-option *ngFor="let godina of godine" [value]="godina">
        {{godina}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
    <div>
        <button type="submit" mat-raised-button color="primary">Izmeni</button>
    </div>
</form>
