<div class="wrapper">
    <form [formGroup]="forma" (ngSubmit)="submitForme()" class="wrapper-class">
    
        <div class="password-input">
            <mat-form-field appearance="outline">
                <mat-label>Ime</mat-label>
                <input formControlName="naziv" matInput placeholder="Ime" type="text">
                <mat-icon matSuffix></mat-icon>
              </mat-form-field>
        </div>
        <div class="password-input">
            <mat-form-field appearance="outline">
                <mat-label>Espb</mat-label>
                <input formControlName="espb" matInput placeholder="espb" type="number">
                <mat-icon matSuffix></mat-icon>
              </mat-form-field>
        </div>
        <div class="password-input">
          <mat-form-field appearance="outline">
              <mat-label>Broj Predavanja</mat-label>
              <input formControlName="brojPredavanja" matInput placeholder="brojPredavanja" type="number">
              <mat-icon matSuffix></mat-icon>
            </mat-form-field>
      </div>
      <div class="password-input">
        <mat-form-field appearance="outline">
            <mat-label>Broj Vezbi</mat-label>
            <input formControlName="brojVezbi" matInput placeholder="brojVezbi" type="number">
            <mat-icon matSuffix></mat-icon>
          </mat-form-field>
    </div>
    <div class="password-input">
      <mat-form-field appearance="fill">
        <mat-label>Godina</mat-label>
        <mat-select formControlName="godina">
          <mat-option *ngFor="let godina of godine" [value]="godina">
            {{godina}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
        <div>
            <button type="submit" mat-raised-button color="primary">Dodaj</button>
        </div>
    </form>
<div class="filter">
    <mat-form-field appearance="standard">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Klijentske Veb Aplikacije" #input>
    </mat-form-field>
  </div>
      <p *ngIf="neMoguceObrisati">Ne moguce je obrisati ovaj Predmet jer se negde vec koristi</p>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <ng-container matColumnDef="ime">
              <th mat-header-cell *matHeaderCellDef> Ime </th>
              <td mat-cell *matCellDef="let element"> {{element.naziv}} </td>
            </ng-container>

            <ng-container matColumnDef="espb">
                <th mat-header-cell *matHeaderCellDef> Espb </th>
                <td mat-cell *matCellDef="let element"> {{element.espb}} </td>
              </ng-container>
              <ng-container matColumnDef="brojPredavanja">
                <th mat-header-cell *matHeaderCellDef> Broj Predavanja </th>
                <td mat-cell *matCellDef="let element"> {{element.brojPredavanja}} </td>
              </ng-container>
              <ng-container matColumnDef="brojVezbi">
                <th mat-header-cell *matHeaderCellDef> Broj Vezbi </th>
                <td mat-cell *matCellDef="let element"> {{element.brojVezbi}} </td>
              </ng-container>
              <ng-container matColumnDef="godina">
                <th mat-header-cell *matHeaderCellDef> Godina </th>
                <td mat-cell *matCellDef="let element"> {{element.godina}} </td>
              </ng-container>
          
            <ng-container matColumnDef="akcije">
              <th mat-header-cell *matHeaderCellDef> Akcije </th>
              <td mat-cell *matCellDef="let element">
                <button mat-flat-button (click)="izmeni(element.id)" mat-raised-button color="primary">Izmeni</button>
                
                <button mat-flat-button (click)="izbrisi(element.id)" mat-raised-button color="primary">Delete</button>
              </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <div>
            <mat-paginator #paginator [length]="100"
                      [pageSize]="3"
                      [pageSizeOptions]="[1,5, 10, 25, 100]"
                      aria-label="Select page">
            </mat-paginator>
          </div>
