<header><button mat-raised-button (click)="back()">Back</button></header>
<form [formGroup]="forma" (ngSubmit)="submit()" class="wrapper-class">
  <div class="username-input">
      <mat-form-field appearance="outline">
          <mat-label>Ime</mat-label>
          <input formControlName="ime" matInput placeholder="Ime">
          <mat-icon matSuffix></mat-icon>
        </mat-form-field>
  </div>
  <div>
    <button mat-flat-button type="submit" color="primary">Pretrazi</button>
  </div>
</form>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="ime">
      <th mat-header-cell *matHeaderCellDef> Ime </th>
      <td mat-cell *matCellDef="let element"> {{element.naziv}} </td>
    </ng-container>
  
    <ng-container matColumnDef="akcije">
      <th mat-header-cell *matHeaderCellDef> Akcije </th>
      <td mat-cell *matCellDef="let element"><button mat-flat-button (click)="detaljnije(element.id)">Detaljnije</button></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<div>
  <mat-paginator #paginator [length]="100"
            [pageSize]="3"
            [pageSizeOptions]="[1,5, 10, 25, 100]"
            aria-label="Select page">
  </mat-paginator>
</div>
