<h1><button mat-raised-button color="primary" (click)="back()">Back</button></h1>

<form [formGroup]="forma" (ngSubmit)="submit()" class="wrapper-class">
  <div class="opis-input">
      <mat-form-field appearance="outline">
          <mat-label>Opis</mat-label>
          <input formControlName="opis" matInput placeholder="Opis" required=>
          <mat-icon matSuffix></mat-icon>
        </mat-form-field>
  </div>
  <div class="termin-input">
      <mat-form-field appearance="outline">
          <mat-label>Termin</mat-label>
          <input formControlName="termin" matInput placeholder="Termin" type="number" required>
          <mat-icon matSuffix></mat-icon>
        </mat-form-field>
  </div>
  <div>
    <p *ngIf="postojiTermin">Izabrani termin nije validan</p>
  </div>
  <div>
      <button type="submit" mat-raised-button color="primary">Dodaj</button>
  </div>
  
</form>

<table mat-table [dataSource]="elementi" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="opis">
      <th mat-header-cell *matHeaderCellDef> Opis </th>
      <td mat-cell *matCellDef="let element"> {{element.opis}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="termin">
      <th mat-header-cell *matHeaderCellDef> Termin </th>
      <td mat-cell *matCellDef="let element"> {{element.termin}} </td>
    </ng-container>

    <ng-container matColumnDef="akcije">
        <th mat-header-cell *matHeaderCellDef> Akcije </th>
        <td mat-cell *matCellDef="let element"><button mat-raised-button color="warn" (click)="delete(element.id)">Delete</button><button (click)="update(element,element.id)" mat-raised-button>Izmeni</button></td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
