<header><button mat-raised-button color="primary" (click)="home()">Home</button></header>

<form [formGroup]="forma" (ngSubmit)="submit()" class="wrapper-class">
    <div class="username-input">
        <mat-form-field appearance="outline">
            <mat-label>Username</mat-label>
            <input formControlName="username" matInput placeholder="Username">
            <mat-icon matSuffix></mat-icon>
          </mat-form-field>
    </div>
    <div class="password-input">
        <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input formControlName="password" matInput placeholder="Password" type="password">
            <mat-icon matSuffix></mat-icon>
          </mat-form-field>
    </div>
    <div class="button-wrapper">
        <div class="login-button">
            <button type="submit" mat-raised-button color="primary">Login</button>
        </div>
        <div class="register-button">
            <button type="button" (click)="register()" mat-raised-button color="primary">Register</button>
        </div>
    </div>
    <div class="login-failed">
        <p *ngIf="loginFailed">Login failed!</p>
    </div>
</form>



