<form [formGroup]="forma" (ngSubmit)="submitPredavanja()" class="wrapper-class">
    <div class="termin-input">
        <mat-form-field appearance="outline">
            <mat-label>Naslov</mat-label>
            <input formControlName="title" matInput placeholder="Naslov" required>
            <mat-icon matSuffix></mat-icon>
          </mat-form-field>
    </div>
    <div class="opis-input">
        <mat-form-field appearance="outline">
            <mat-label>Opis</mat-label>
            <input formControlName="opis" matInput placeholder="Opis" required=>
            <mat-icon matSuffix></mat-icon>
          </mat-form-field>
    </div>
    
    <div>
        <button type="submit" mat-raised-button color="primary">Izmeni</button>
        <button (click)="odustani()" mat-raised-button>Odustani</button>
    </div>
</form>
