<header ><button mat-raised-button color="primary" (click)="home()">Home</button></header>

<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Trenutni Predmeti">
    <div class="filter">
      <mat-form-field appearance="standard">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Klijentske Veb Aplikacije" #input>
    </mat-form-field>
    </div>
  <div class="wrapper">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    
      <ng-container matColumnDef="naziv">
        <th mat-header-cell *matHeaderCellDef>Naziv</th>
        <td mat-cell *matCellDef="let element"> {{element.naziv}}</td>
      </ng-container>

      <ng-container matColumnDef="espb">
        <th mat-header-cell *matHeaderCellDef>Espb</th>
        <td mat-cell *matCellDef="let element"> {{element.espb}}</td>
      </ng-container>

      <ng-container matColumnDef="brojPredavanja">
        <th mat-header-cell *matHeaderCellDef>Broj Predavanja</th>
        <td mat-cell *matCellDef="let element"> {{element.brojPredavanja}}</td>
      </ng-container>
    
      <ng-container matColumnDef="brojVezbi">
        <th mat-header-cell *matHeaderCellDef>Broj Vezbi</th>
        <td mat-cell *matCellDef="let element"> {{element.brojVezbi}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    
  </div>
  <div>
    <mat-paginator #paginator [length]="100"
              [pageSize]="3"
              [pageSizeOptions]="[3,5, 10, 25, 100]"
              aria-label="Select page">
    </mat-paginator>
  </div>
</mat-tab>
<mat-tab label="Obaveštenja">
  <app-obavestenja></app-obavestenja>
</mat-tab>
<mat-tab label="Istorija Studiranja">
  <app-istorija-studiranja></app-istorija-studiranja>
</mat-tab>
</mat-tab-group>


