<div class="wrapper">
    <form [formGroup]="forma" (ngSubmit)="submit()" class="wrapper-class">
    
        <div class="password-input">
            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input formControlName="password" matInput placeholder="Password" type="password">
                <mat-icon matSuffix></mat-icon>
              </mat-form-field>
        </div>
        <div class="ime-input">
            <mat-form-field appearance="outline">
                <mat-label>Ime</mat-label>
                <input formControlName="ime" matInput placeholder="Ime" type="text">
                <mat-icon matSuffix></mat-icon>
              </mat-form-field>
        </div>
        <div class="jmbg-input">
            <mat-form-field appearance="outline">
                <mat-label>JMBG</mat-label>
                <input formControlName="jmbg" matInput placeholder="JMBG" type="text">
                <mat-icon matSuffix></mat-icon>
              </mat-form-field>
        </div>
        <div class="button-wrapper">
            <div class="edit-button">
                <button type="submit" (click)="openDialog()" mat-raised-button color="primary">Edit</button>
            </div>
            <div class="edit-button">
                <button type="button" (click)="cancel()" mat-raised-button color="primary">Cancel</button>
            </div>
        </div>
    </form>
    
</div>

