.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

form{
    padding-top: 100px;
}

.button-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-button{
    padding-right: 20px;
}