<mat-form-field appearance="standard">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
  </mat-form-field>
<div class="wrapper">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      
        <!-- Position Column -->
        <ng-container matColumnDef="ime">
          <th mat-header-cell *matHeaderCellDef> Ime </th>
          <td mat-cell *matCellDef="let element"> {{element.naziv}} </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="ocena">
          <th mat-header-cell *matHeaderCellDef> Ocena </th>
          <td mat-cell *matCellDef="let element"> {{element.konacnaOcena}} </td>
        </ng-container>
      
        <!-- Weight Column -->
        <ng-container matColumnDef="brojPolaganja">
          <th mat-header-cell *matHeaderCellDef> Broj Polaganja </th>
          <td mat-cell *matCellDef="let element"> {{element.brojPokusaja}} </td>
        </ng-container>

        <ng-container matColumnDef="espb">
            <th mat-header-cell *matHeaderCellDef>Espb</th>
            <td mat-cell *matCellDef="let element"> {{element.espb}} </td>
          </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      
        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
      </table>
      
</div>
<div>
  <mat-paginator #paginator [length]="100"
              [pageSize]="3"
              [pageSizeOptions]="[3,5, 10, 25, 100]"
              aria-label="Select page">
    </mat-paginator>
</div>
<div>
    <p>Prosecna ocena je {{prosecnaOcena}}</p>
    <p>Espb Bodovi Su {{ukupanBrojEspbBodova}}</p>
    <p></p>
</div>

