table {
    width: 80%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
  }

.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
  }