<div class="wrapper">
    <form [formGroup]="forma" (ngSubmit)="submit()" class="wrapper-class">
    
        <div class="password-input">
            <mat-form-field appearance="outline">
                <mat-label>Ime</mat-label>
                <input formControlName="naziv" matInput placeholder="Ime" type="text">
                <mat-icon matSuffix></mat-icon>
              </mat-form-field>
        </div>
        <div>
            <mat-label>Drzave</mat-label>
          </div>
          
          <mat-form-field appearance="fill">
            <mat-label>Drzave</mat-label>
            <mat-select [disabled]="potvrdjenaDrzava" [formControl]="drzava">
              <mat-option *ngFor="let drzava of drzave" [value]="drzava.name">
                {{drzava.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div class="edit-button">
            <button type="button" (click)="potvrdiDrzavu()" mat-raised-button color="primary">Potvrdi Drzavu</button>
            <button type="button" (click)="otkaziDrzavu()" mat-raised-button color="primary">Otkazi Drzavu</button>
        </div>
    
          <mat-form-field appearance="fill" *ngIf="potvrdjenaDrzava">
            <mat-label>Mesta</mat-label>
            <mat-select [disabled]="potvrdjenoMesto" [formControl]="mesto">
              <mat-option *ngFor="let mesto of mesta" [value]="mesto.naziv">
                {{mesto.naziv}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div class="edit-button">
            <button type="button" *ngIf="potvrdjenaDrzava" (click)="potvrdiMesto()" mat-raised-button color="primary">Potvrdi Mesto</button>
            <button type="button" *ngIf="potvrdjenaDrzava" (click)="otkaziMesto()" mat-raised-button color="primary">Otkazi Mesto</button>
          </div>
    
          <mat-form-field appearance="fill" *ngIf="potvrdjenoMesto">
            <mat-label>Adrese</mat-label>
            <mat-select [formControl]="adresa">
              <mat-option *ngFor="let adresa of adrese" [value]="adresa.ulicaIBroj">
                {{adresa.ulicaIBroj}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div class="edit-button">
            <button type="button" *ngIf="potvrdjenoMesto" (click)="potvrdiAdresu()" mat-raised-button color="primary">Potvrdi Adresu</button>
            <button type="button" *ngIf="potvrdjenoMesto" (click)="otkaziAdresu()" mat-raised-button color="primary">Otkazi Adresu</button>
        </div>
        <div class="button-wrapper">
            <div class="edit-button">
                <button type="submit" mat-raised-button color="primary" *ngIf="potvrdjenaAdresa">Izmeni</button>
                <button type="button" (click)="cancel()" mat-raised-button color="primary">Cancel</button>
            </div>
        </div>
    </form>
    
</div>
