<form [formGroup]="forma" (ngSubmit)="submit()" class="wrapper-class">
    
    <div class="password-input">
        <mat-form-field appearance="outline">
            <mat-label>Naziv</mat-label>
            <input formControlName="naziv" matInput placeholder="Naziv" type="text">
            <mat-icon matSuffix></mat-icon>
          </mat-form-field>
    </div>
    <div class="password-input">
        <mat-form-field appearance="outline">
            <mat-label>Opis</mat-label>
            <input formControlName="opis" matInput placeholder="Naziv" type="text">
            <mat-icon matSuffix></mat-icon>
          </mat-form-field>
    </div>
    <div class="button-wrapper">
        <div class="edit-button">
            <button type="submit" mat-raised-button color="primary">Izmeni</button>
            <button type="button" (click)="cancel()" mat-raised-button color="primary">Cancel</button>
        </div>
    </div>
