<!-- <form [formGroup]="forma1" (ngSubmit)="submit()" class="wrapper-class">
    <div class="username-input">
        <mat-form-field appearance="outline">
            <mat-label>Username</mat-label>
            <input [(ngModel)]="user.username" formControlName="username" matInput placeholder="Username">
            <mat-icon matSuffix></mat-icon>
          </mat-form-field>
    </div>
    <div class="password-input">
        <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input [(ngModel)]="user.password" formControlName="password" matInput placeholder="Password" type="password">
            <mat-icon matSuffix></mat-icon>
          </mat-form-field>
    </div>
    <div class="button-wrapper">
        <div class="register-button">
            <button type="submit" mat-raised-button color="primary">Register</button>
        </div>
        <div class="cancel-button">
            <button type="button" (click)="cancel()" mat-raised-button color="primary">Cancel</button>
        </div>
    </div>
</form> -->
<div class="wrapper">
  <mat-stepper linear #stepper>
    <mat-step [stepControl]="forma1">
      <form [formGroup]="forma1">
        <ng-template matStepLabel>Fill out your name</ng-template>
        <mat-form-field appearance="fill">
            <mat-label>Ime</mat-label>
            <input matInput [(ngModel)]="user.ime" formControlName="ime" placeholder="Ime" required>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Jmbg</mat-label>
            <input matInput [(ngModel)]="user.jmbg" formControlName="jmbg" placeholder="JMBG" required>
          </mat-form-field>
        <div>
            <button mat-button (click)="cancel()">Cancel</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="forma2">
      <form [formGroup]="forma2">
        <ng-template matStepLabel>Fill out your address</ng-template>
        <mat-form-field appearance="fill">
          <mat-label>Username</mat-label>
          <input matInput [(ngModel)]="user.username" formControlName="username" placeholder="Username"
                 required>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput [(ngModel)]="user.password" formControlName="password" placeholder="password" type="password"
                   required>
          </mat-form-field>
        <div>
            <button mat-button (click)="cancel()">Cancel</button>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button (click)="cancel()">Cancel</button>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
        <button mat-button (click)="submit()">Register</button>
      </div>
    </mat-step>
  </mat-stepper>

</div>
