.wrapper{
    display:flex;
    justify-content: center;
    align-items: center;
    padding-top: 250px;
}
.wrapper-class{
    padding-top: 300px;
}

.username-input{
    display: flex;
    justify-content: center;
    align-items: center;
    

}
.password-input{
    display: flex;
    justify-content: center;
    align-items: center;
    

}
.button-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-button{
    padding-right: 1%;
}

.login-failed{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    

}