<form [formGroup]="forma" (ngSubmit)="submitPredavanja()" class="wrapper-class">
    <div class="opis-input">
        <mat-form-field appearance="outline">
            <mat-label>Opis</mat-label>
            <input formControlName="opis" matInput placeholder="Opis" required=>
            <mat-icon matSuffix></mat-icon>
          </mat-form-field>
    </div>
    <div class="termin-input">
        <mat-form-field appearance="outline">
            <mat-label>Termin</mat-label>
            <input formControlName="termin" matInput placeholder="Termin" type="number" required>
            <mat-icon matSuffix></mat-icon>
          </mat-form-field>
    </div>
    <div>
        <p *ngIf="postojiTermin">Izabrani Termin nije validan</p>
      </div>
    <div>
        <button type="submit" mat-raised-button color="primary">Izmeni</button>
        <button (click)="odustani()" mat-raised-button>Odustani</button>
        

    </div>
</form>
