<form [formGroup]="forma" (ngSubmit)="submit()" class="wrapper-class">
  <div class="username-input">
      <mat-form-field appearance="outline">
          <mat-label>Ime</mat-label>
          <input formControlName="ime" matInput placeholder="Ime">
          <mat-icon matSuffix></mat-icon>
        </mat-form-field>
  </div>
  <div>
    <button mat-flat-button type="submit" color="primary">Pretrazi</button>
  </div>
</form>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="ime">
      <th mat-header-cell *matHeaderCellDef> Ime </th>
      <td mat-cell *matCellDef="let element"> {{element.naziv}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="datumOsnivanja">
      <th mat-header-cell *matHeaderCellDef> Datum Osnivanja </th>
      <td mat-cell *matCellDef="let element"> {{element.datumOsnivanja}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="akcije">
      <th mat-header-cell *matHeaderCellDef> Akcije </th>
      <td mat-cell *matCellDef="let element"><button mat-flat-button (click)="detaljnije(element.id)">Detaljnije</button>
</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <div>
    <mat-paginator #paginator [length]="100"
              [pageSize]="3"
              [pageSizeOptions]="[3,5, 10, 25, 100]"
              aria-label="Select page">
    </mat-paginator>
  </div>